In [1]:
import pandas as pd
import polars as pl
from financial_data import FinancialData
from preprocessing import bulk_preprocessing

In [8]:
fp=FinancialData(['AAC'])

In [10]:
en=fp.get_historical_data()

In [16]:
en.loc['2021-03-26':'2021-04-01']

,ticker,open,high,low,close,adj_close,volume,shares_outstanding,industry_id,number_employees,returns
Date,,,,,,,,,,,
2021-03-26,AAC,9.85,9.96,9.75,9.96,9.96,158306,NaN,104002,NaN,0.09
2021-03-29,AAC,9.70,9.90,9.50,9.78,9.78,53558,NaN,104002,NaN,-0.18
2021-03-30,AAC,9.80,9.85,9.80,9.83,9.83,52270,NaN,104002,NaN,0.05
2021-03-31,AAC,9.75,9.90,9.75,9.90,9.90,78556,125000000.0,104002,NaN,0.07
2021-04-01,AAC,9.98,9.98,9.74,9.77,9.77,151921,125000000.0,104002,NaN,-0.13

In [4]:
fp.get_pl_sim()

'If you had invested in AAC at 2019-04-08 00:00:00 and sold at 2024-03-11 00:00:00, you would have made 0.83, a profit of 8.0%'

In [5]:
a=pd.to_datetime('2025-01-01')
b=pd.to_datetime('2025-01-03')

In [19]:
a-pd.Timedelta(days=1)

Timestamp('2024-12-31 00:00:00')

In [7]:
(b-a).days

2

In [8]:
en.loc[pd.to_datetime('2021-03-26')]['close']

9.96

In [ ]:
chosen=['AAC']

In [ ]:
a, b = a.filter(pl.col('Ticker').is_in(chosen)), b.filter(pl.col('Ticker').is_in(chosen))

In [ ]:
b

shape: (660, 11)
┌────────┬──────────┬────────────┬───────┬───┬────────────┬─────────┬──────────┬─────────────┐
│ Ticker ┆ SimFinId ┆ Date       ┆ Open  ┆ … ┆ Adj. Close ┆ Volume  ┆ Dividend ┆ Shares      │
│ ---    ┆ ---      ┆ ---        ┆ ---   ┆   ┆ ---        ┆ ---     ┆ ---      ┆ Outstanding │
│ str    ┆ i64      ┆ date       ┆ f64   ┆   ┆ f64        ┆ i64     ┆ f64      ┆ ---         │
│        ┆          ┆            ┆       ┆   ┆            ┆         ┆          ┆ i64         │
╞════════╪══════════╪════════════╪═══════╪═══╪════════════╪═════════╪══════════╪═════════════╡
│ AAC    ┆ 7962652  ┆ 2021-03-25 ┆ 9.95  ┆ … ┆ 9.87       ┆ 117127  ┆ null     ┆ null        │
│ AAC    ┆ 7962652  ┆ 2021-03-26 ┆ 9.85  ┆ … ┆ 9.96       ┆ 158306  ┆ null     ┆ null        │
│ AAC    ┆ 7962652  ┆ 2021-03-29 ┆ 9.7   ┆ … ┆ 9.78       ┆ 53558   ┆ null     ┆ null        │
│ AAC    ┆ 7962652  ┆ 2021-03-30 ┆ 9.8   ┆ … ┆ 9.83       ┆ 52270   ┆ null     ┆ null        │
│ AAC    ┆ 7962652  ┆ 2021-03-31 ┆ 9.75  ┆ … ┆ 9.9        ┆ 78556   ┆ null     ┆ 125000000   │
│ …      ┆ …        ┆ …          ┆ …     ┆ … ┆ …          ┆ …       ┆ …        ┆ …           │
│ AAC    ┆ 7962652  ┆ 2023-10-31 ┆ 10.78 ┆ … ┆ 10.78      ┆ 1430022 ┆ null     ┆ 98498541    │
│ AAC    ┆ 7962652  ┆ 2023-11-01 ┆ 10.76 ┆ … ┆ 10.78      ┆ 65840   ┆ null     ┆ 98498541    │
│ AAC    ┆ 7962652  ┆ 2023-11-02 ┆ 10.78 ┆ … ┆ 10.77      ┆ 61143   ┆ null     ┆ 98498541    │
│ AAC    ┆ 7962652  ┆ 2023-11-03 ┆ 10.77 ┆ … ┆ 10.77      ┆ 280129  ┆ null     ┆ 98498541    │
│ AAC    ┆ 7962652  ┆ 2023-11-06 ┆ 10.77 ┆ … ┆ 10.79      ┆ 599704  ┆ null     ┆ 98498541    │
└────────┴──────────┴────────────┴───────┴───┴────────────┴─────────┴──────────┴─────────────┘

In [ ]:
a=a.drop_nulls(subset=['Ticker','Company Name'])
a

shape: (1, 11)
┌────────┬──────────┬───────────────┬────────────┬───┬───────────────┬────────┬─────────┬──────────┐
│ Ticker ┆ SimFinId ┆ Company Name  ┆ IndustryId ┆ … ┆ Business      ┆ Market ┆ CIK     ┆ Main     │
│ ---    ┆ ---      ┆ ---           ┆ ---        ┆   ┆ Summary       ┆ ---    ┆ ---     ┆ Currency │
│ str    ┆ i64      ┆ str           ┆ i64        ┆   ┆ ---           ┆ str    ┆ i64     ┆ ---      │
│        ┆          ┆               ┆            ┆   ┆ str           ┆        ┆         ┆ str      │
╞════════╪══════════╪═══════════════╪════════════╪═══╪═══════════════╪════════╪═════════╪══════════╡
│ AAC    ┆ 7962652  ┆ Ares          ┆ 104002     ┆ … ┆ Ares          ┆ us     ┆ 1829432 ┆ USD      │
│        ┆          ┆ Acquisition   ┆            ┆   ┆ Acquisition   ┆        ┆         ┆          │
│        ┆          ┆ Corporation   ┆            ┆   ┆ Corporation   ┆        ┆         ┆          │
│        ┆          ┆               ┆            ┆   ┆ d…            ┆        ┆         ┆          │
└────────┴──────────┴───────────────┴────────────┴───┴───────────────┴────────┴─────────┴──────────┘

In [ ]:
a,b = a.to_pandas(), b.to_pandas()

In [ ]:
b

,Ticker,SimFinId,Date,Open,High,Low,Close,Adj. Close,Volume,Dividend,Shares Outstanding
0,AAC,7962652,2021-03-25,9.95,9.95,9.52,9.87,9.87,117127,NaN,NaN
1,AAC,7962652,2021-03-26,9.85,9.96,9.75,9.96,9.96,158306,NaN,NaN
2,AAC,7962652,2021-03-29,9.70,9.90,9.50,9.78,9.78,53558,NaN,NaN
3,AAC,7962652,2021-03-30,9.80,9.85,9.80,9.83,9.83,52270,NaN,NaN
4,AAC,7962652,2021-03-31,9.75,9.90,9.75,9.90,9.90,78556,NaN,125000000.0
...,...,...,...,...,...,...,...,...,...,...,...
655,AAC,7962652,2023-10-31,10.78,10.80,10.63,10.78,10.78,1430022,NaN,98498541.0
656,AAC,7962652,2023-11-01,10.76,10.78,10.76,10.78,10.78,65840,NaN,98498541.0
657,AAC,7962652,2023-11-02,10.78,10.78,10.77,10.77,10.77,61143,NaN,98498541.0
658,AAC,7962652,2023-11-03,10.77,10.78,10.77,10.77,10.77,280129,NaN,98498541.0
659,AAC,7962652,2023-11-06,10.77,10.79,10.77,10.79,10.79,599704,NaN,98498541.0

In [ ]:
b1=b.drop(['SimFinId','Dividend'],axis=1)
a1=a.drop(['SimFinId','Company Name', 'ISIN', 'End of financial year (month)', 
                    'Business Summary','Market','CIK','Main Currency'], axis=1)

In [ ]:
data=b.merge(a, how='left', on='Ticker')

In [ ]:
data

,Ticker,SimFinId_x,Date,Open,High,Low,Close,Adj. Close,Volume,Dividend,...,SimFinId_y,Company Name,IndustryId,ISIN,End of financial year (month),Number Employees,Business Summary,Market,CIK,Main Currency
0,AAC,7962652,2021-03-25,9.95,9.95,9.52,9.87,9.87,117127,NaN,...,7962652,Ares Acquisition Corporation,104002,US0003071083,12,NaN,Ares Acquisition Corporation does not have sig...,us,1829432,USD
1,AAC,7962652,2021-03-26,9.85,9.96,9.75,9.96,9.96,158306,NaN,...,7962652,Ares Acquisition Corporation,104002,US0003071083,12,NaN,Ares Acquisition Corporation does not have sig...,us,1829432,USD
2,AAC,7962652,2021-03-29,9.70,9.90,9.50,9.78,9.78,53558,NaN,...,7962652,Ares Acquisition Corporation,104002,US0003071083,12,NaN,Ares Acquisition Corporation does not have sig...,us,1829432,USD
3,AAC,7962652,2021-03-30,9.80,9.85,9.80,9.83,9.83,52270,NaN,...,7962652,Ares Acquisition Corporation,104002,US0003071083,12,NaN,Ares Acquisition Corporation does not have sig...,us,1829432,USD
4,AAC,7962652,2021-03-31,9.75,9.90,9.75,9.90,9.90,78556,NaN,...,7962652,Ares Acquisition Corporation,104002,US0003071083,12,NaN,Ares Acquisition Corporation does not have sig...,us,1829432,USD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,AAC,7962652,2023-10-31,10.78,10.80,10.63,10.78,10.78,1430022,NaN,...,7962652,Ares Acquisition Corporation,104002,US0003071083,12,NaN,Ares Acquisition Corporation does not have sig...,us,1829432,USD
656,AAC,7962652,2023-11-01,10.76,10.78,10.76,10.78,10.78,65840,NaN,...,7962652,Ares Acquisition Corporation,104002,US0003071083,12,NaN,Ares Acquisition Corporation does not have sig...,us,1829432,USD
657,AAC,7962652,2023-11-02,10.78,10.78,10.77,10.77,10.77,61143,NaN,...,7962652,Ares Acquisition Corporation,104002,US0003071083,12,NaN,Ares Acquisition Corporation does not have sig...,us,1829432,USD
658,AAC,7962652,2023-11-03,10.77,10.78,10.77,10.77,10.77,280129,NaN,...,7962652,Ares Acquisition Corporation,104002,US0003071083,12,NaN,Ares Acquisition Corporation does not have sig...,us,1829432,USD
659,AAC,7962652,2023-11-06,10.77,10.79,10.77,10.79,10.79,599704,NaN,...,7962652,Ares Acquisition Corporation,104002,US0003071083,12,NaN,Ares Acquisition Corporation does not have sig...,us,1829432,USD

In [ ]:
data['Number Employees'].isna().sum()

660

In [ ]:
bulk_preprocessing(a,b,['AAC'])

Empty DataFrame
Columns: [ticker, open, high, low, close, adj_close, volume, shares_outstanding, industry_id, number_employees, returns]
Index: []